<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>Hello World</title>
  <style>
    #fbtn{
    background-color: aqua;
    padding:10px;
  }
  #fbtn:hover{
    background-color: aquamarine;
  }
  </style>
  <link rel="stylesheet" type="text/css" href="templates/style.css">
</head>

<body>
  <h1>Welcome to this wonderful website</h1>
  <p>Successfully launched at {{launch_time}}.</p>
  <button id="fbtn">Funny Button</button>
  <div id="lis"></div>

  <script src="templates/script.js"></script>
</body>

</html>
